body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px 0px #0000001a;
}

.wrapper-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto 0 auto;
  background: #ffffff;
}

.text-footer {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
}
aside {
  background: #2f1423f2;
  height: auto;
}

.header-secondary {
  color: #ffffff;
}
.contact-links {
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
}
.bold {
  font-weight: 700;
}
.list-secondary {
  color: #fb6d3a;
  font-size: 13px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
}
.contact-block {
  margin-top: 50px;
  margin-left: 40px;
}
.tech-skills-block {
  margin-top: 50px;
  margin-left: 40px;
}
.soft-skills-block {
  margin-top: 50px;
  margin-left: 40px;
}
.certificates-block {
  margin-top: 50px;
  margin-left: 40px;
}
.languages-block {
  margin-top: 50px;
  margin-left: 40px;
}
.hobbies-block {
  margin-top: 50px;
  margin-left: 40px;
}
main {
  padding: 40px 88px 40px 88px;
  height: auto;
}
.main-description {
  width: 700px;
}
.job-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin: 0px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.description {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 40px;
}
.projects {
  width: 700px;
}
.list-primary {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
}
.list-primary li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.list-primary-item {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-align: right;
}
.border {
  font-size: 4px;
  color: #ffffff;
  border-bottom: dashed 1px #a8a8a8;
}
.header-primary {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 15px;
}
.job-name {
  font-size: 15px;
  font-weight: 700;
}
.highlight {
  color: #fb6d3a;
}
.job-date {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}
.job-list {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  margin-top: 5px;
}
.education {
  margin-top: 20px;
}
.university {
  color: #fb6d3a;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.other {
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  padding-right: 30px;
}
.projects-description {
  display: flex;
  margin: 0px;
}
.project-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.list-primary-text {
  font-weight: 700;
}
